*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
    
}
.mural{
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
    background-color: yellow;
    flex-wrap: wrap;
}

.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    color: black
}

img{
    width: 100%
}